<a href="https://colab.research.google.com/github/rogerwender/CientistaDeDados/blob/Conteudo/FatoresRotatividadeClientesTelefonia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Determinar os principais fatores de rotatividade do cliente de empresa de telefonia e prever as chances  de um cliente sair

- Fonte de dados: https://kaggle.com/blastchar/telco-customer-churn
* Coluna Churn: clientes que saíram no último mês
* Serviços que cadas cliente assinou.
* Informações da conta do cliente

In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
from sklearn.metrics import roc_auc_score, roc_curve

In [4]:
!pip install -q -U watermark
%reload_ext watermark
%watermark -a "Ciencia dos dados" --iversions

#Versao do python
from platform import python_version
print("Versao: ", python_version())

numpy   1.19.5
pandas  1.1.5
seaborn 0.11.1
Ciencia dos dados
Versao:  3.6.9

In [5]:
import warnings
import sys
warnings.simplefilter(action = 'ignore', category = FutureWarning)
warnings.filterwarnings("ignore", category = FutureWarning)
if not sys.warnoptions:
  warnings.simplefilter("ignore")

In [7]:
dataframe = pd.read_csv('/content/sample_data/Telco-Customer-Churn.csv')

print(dataframe.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB
None

In [8]:
#Verificando valores duplicados
dataframe.duplicated().sum()

0

In [9]:
#Visualizando o dataframe
dataframe.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95       1889.5     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]